@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Odibee+Sans&family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-image: linear-gradient(#e52165, #0d1137);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 1s ease-in-out;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ans {
  font-size: 100px;
  color: rgba(129, 129, 129, 0.733);
}

.price {
  width: 100%;
  padding: 12px 20px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 8px 0;
  transition: 0.2s ease-in-out;
}

.price:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.drop-down {
  width: 100%;
  padding: 12px 20px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 8px 0;
  transition: 0.2s ease-in-out;
}

.drop-down:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.opt {
  border-radius: 3px;
  background-color: grey;
  color: #0d1137;
}

label {
  font-size: 40px;
  color: black;
}

.but {
  border: 1px solid aqua;
  background: none;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  margin: 10px;
  color: aqua;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.but:hover {
  color: #fff;
  background: black;
  border-radius: 25px;
  border: 1px solid #fff;
}
